<div class="container-recipe-info container-fluid">
  <div class="row">
    <div class="col-lg-1">
      <%= render "add_to_cookbook" %>
    </div>
    <div class="col-lg-11">
      <p class="recipe-country"><%= @recipe.country %></p>
    </div>
  </div>

  <div class="row info-line">
    <div class="col-lg-4">
      <h1 class="recipe-name"><%= @recipe.name %></h1>
    </div>
    <div class="col-lg-3">
      <p class="recipe-by">By <%= @recipe.user.name %></p>
    </div>


    <div class="col-lg-5 info-right">
      <p class="recipe-prep-time"><%= @recipe.prep_time %> prep / </p>
      <p class="recipe-era"><%= @recipe.era %> / </p>
      <p class="recipe-rate"><%= render "rate" %></p>
    </div>
  </div>



  <div class="row mt-5">

    <!--Buttons ...Lali-->
    <%# <div class="m-3">

      <!--printing window-->
      <button onclick="window.print()" class="print">Print this page</button>
      <!--printing window end-->
    </div> %>
    <!--Buttons end-->
    <div class="col-lg-3 recipe-image">
      <div class="img-food image-effect" data-controller="image-popup">
        <% if @recipe.photo.attached? %>
            <%= cl_image_tag @recipe.photo.key, class: "img-food", data: { bs_target: '#imageModal', bs_toggle: 'modal' } %>
        <% else %>
            <img class="img-food" src="https://d16kd6gzalkogb.cloudfront.net/magazine_images/Floris-Van-Dyck-Painting-Still-life-With-Fruit-Nuts-And-Cheese-via-flickr-com.jpg" alt="Food">
        <% end %>
      </div>
    </div>

    <div class="col-lg-3 recipe-ingredients">
      <h4 class="recipe-ingredients">Ingredients:</h4>
      <p class="recipe-ingredients-list"><% @recipe.recipes_ingredients.each do |recipe_ingredient| %>
        <li><%= recipe_ingredient.ingredient.name.capitalize  %> | <%= recipe_ingredient.quantity %></li>
      <% end %></p>
    </div>

    <div class="col-lg-6 recipe-prep">
      <h3>Preparation: </h3>
      <div class="page">
        <p><span class="caps"><%= @recipe.instructions[0] %></span>
        <%= @recipe.instructions[1..] %></p>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <%# MAP %>
    <div class="container-map-centering">
      <div id="map" style="height: 300px; width: 600px" class="map-centering"
      data-mapbox-longitude-value="<%=@recipe.longitude %>"
      data-mapbox-latitude-value="<%=@recipe.latitude %>"
      data-mapbox-code-value="<%=@recipe.country_code %>"
      data-controller="mapbox" data-action="click->mapbox#map">
      </div>
    </div>
    <%# map-end %>
  </div>
</div>



<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <% if @recipe.photo.attached? %>
            <%= cl_image_tag @recipe.photo.key, class: "img-food-lg" %>
        <% else %>
            <img class="img-food-lg" src="https://d16kd6gzalkogb.cloudfront.net/magazine_images/Floris-Van-Dyck-Painting-Still-life-With-Fruit-Nuts-And-Cheese-via-flickr-com.jpg" alt="Food">
        <% end %>
      </div>
    </div>
  </div>

</div>
