<div class="container" data-controller="recipe-form">
  <div class="row">
    <div class="col-5 border-end">
      <h2 class="text-center mb-3">Recipe Creation</h2>
      <%= simple_form_for(@recipe) do |f| %>
          <%= f.input :name, label: "Name of the recipe", class: "text-center",
              input_html: { data: { action: "blur->recipe-form#updateName" } } %>
       <!--   <p class="mb-2">By <%=current_user.name %></p> -->
          <%= f.input :prep_time, class:"recipe-prep-time",
              input_html: { data: { action: "blur->recipe-form#updatePrepTime" } } %>
          <%= f.input :era, class:"recipe-era",
              input_html: { data: { action: "blur->recipe-form#updateEra" } }  %>
          <%= f.input :country, as: :string, class:"recipe-country",
              input_html: { data: { action: "blur->recipe-form#updateCountry" } } %>
          <%= f.input :instructions,
              input_html: { data: { action: "blur->recipe-form#updateInstructions" } }%>
          <%= f.input :image, as: :file, label: "Select an image",
              input_html: { data: {  action: "change->recipe-form#readURL" } } %>
          <div>
            <%= f.simple_fields_for :recipes_ingredients do |recipes_ingredients_form| %>
              <%= render "recipes_ingredient_fields", f: recipes_ingredients_form %>
            <% end %>
            <%= link_to_add_association "Add ingredient", f, :recipes_ingredients, class: "btn btn-default add-button" %>
          </div>
          <div class="text-center">
            <%= f.submit %>
          </div>
      <% end %>
    </div>
    <div class="col-7">
      <div class="row">
        <h2 class="text-center">Recipe Preview</h2>
        <div class="container-recipe-info container-fluid">
          <%# Row for recipe title %>
          <div class="row">
          <div class="col-lg-12">
            <h4 class="recipe-name-new text-center mt-4" data-recipe-form-target="nameField"></h4>
          </div>
        </div>
          <%# Row for column categories %>
          <div class="row">

            <!--Buttons end-->


          <!-- <p class="recipe-by">By <%= @recipe.user.name %></p> -->
            <div class="col-lg-6 recipe-information">
              <p class="recipe-prep-time" data-recipe-form-target="prepTimeField"></p>
              <br>
              <p class="recipe-era" data-recipe-form-target="eraField"></p>
              <div>
                <p class="recipe-country-new text-end" data-recipe-form-target="countryField"></p>
              </div>

              </p>
              <div data-recipe-form-target="imgField">
              </div>
            </div>


            <div class="col-lg-6 recipe-ingredients">
              <p class="recipe-ingredients" data-recipe-form-target="ingredientField"></p>

            </div>
            <div class="col-lg-12 recipe-prep">
              <p data-recipe-form-target="instructionsField"></p>
            </div>
          </div>
          <%# Row for content %>
          <br>

          <div class="row">
            <%# <div class="adjusting-padding-h3"> %>
          <!-- <div class="recipe-origin">
              <h3>Origin: </h3>
            </div>-->
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
