<div class="container">
  <div class="row">
    <div class="col-5 border-end">
      <%= simple_form_for(@recipe) do |f| %>
          <%= f.input :name, label: "Name of the recipe" %>
          <p>By <%= current_user.name %></p>
          <%= f.input :prep_time, class:"recipe-prep-time" %>
          <%= f.input :era, class:"recipe-era" %>
          <%= f.input :country, as: :string, class:"recipe-country" %>
          <%= f.input :instructions %>
          <%= f.input :image, as: :file, label: "Select an image" %>
          <%= f.simple_fields_for :recipes_ingredients do |recipes_ingredients_form| %>
            <%= render "recipes_ingredient_fields", f: recipes_ingredients_form %>
          <% end %>
          <%= link_to_add_association "Add ingredient", f, :recipes_ingredients, class: "btn btn-default add-button" %>
          <div class="text-center">
            <%= f.submit %>
          </div>
      <% end %>
    </div>
    <div class="col-7">
<h1 class="text-center">lali</h1>
    </div>
  </div>
</div>
