 <%# <div class="row mt-4 d-flex justify-content-around">
      <div class="gm-show-card w-75"> %>
<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-6">
        <div class="centerbar">
            <form action="/recipes" method="get">
            <select multiple name="ingredients[]" data-controller="select2">
                  <% Ingredient.all.each do |ing|  %>
                    <option value="<%= ing.id %>"><%= ing.name.capitalize %></option>
                  <% end %>
            </select>
              <button type="submit" class="btn btn-primary">🏺</button>
            </form>
        </div>
      <div class="recipe-list mt-1">
        <% if @recipes.empty? %>
          <p>No results match this search</p>
        <% end %>
        <% @recipes.each do |recipe|%>
          <%= link_to recipe_path(recipe), class: "recipe-link" do %>
          <hr />
          <div class="alignment-container mb-1 mt-2">
            <div class="my-auto">
              <h5><%= recipe.name %></h5>
              <p class="m-0"><%= recipe.user.name %></p>
            </div>
              <p class="m-0"><%= recipe.country %></p>
          </div>
          <div class="mb-1 mt-2 text-end">
          </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="background-rectangle">
    </div>
    <div class="col-lg-6">
      <%= render "show_recipe" %>
      <!--map-end-->
    </div>
  </div>
  <%# Row for content %>


  </div>
