<h1 class="recipe "><%= @recipe.name %></h1>
  <div class="container">
    <div class="row mt-4 d-flex justify-content-around">
      <div class="gm-show-card w-75">
        <% if @grandmaster.user.photo.attached? %>

          </div>
      </div>
    </div>
</div>



<%# t.string "name"
    t.string "era"
    t.string "country"
    t.text "instructions"
    t.float "rating"
    t.string "prep_time" %>

<div class="container">
  <div class="row">
    <div class="col">
      1 of 1
      <h1 class="recipe-name"><%= @recipe.name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      1 of 4
      <h3 class="recipe-by">By <%= @recipe.user.name %></h3>
    </div>
    <div class="col">
      2 of 4
      <h3 class="recipe-ingredients">Ingredients: </h3>
    </div>
    <div class="col">
      3 of 4
      <h3 class="recipe-prep">Preparation: </h3>
    </div>
    <div class="col">
      4 of 4
      <h3 class="recipe-prep">Preptime: <%= @recipe.prep_time %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col-3">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="recipe-name"><%= @recipe.name %></h1>
    </div>
    <div class="col-lg-4">
      <h3 class="recipe-by">By <%= @recipe.user.name %></h3>
    </div>
    <div class="col-lg-2">
      <h3 class="recipe-ingredients">Ingredients: </h3>
    </div>
    <div class="col-lg-3">
      <h3 class="recipe-prep">Preparation: </h3>
    </div>
    <div class="col-lg-3">
      <h3 class="recipe-prep">Preptime: <%= @recipe.prep_time %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h3 class="recipe-prep">Era: <%= @recipe.era %></h3>
    </div>
    <div class="col-lg-3">Ingredients bla bla bla</div>
    <div class="col-lg-5">Instructions for recipe bla bla bla</div>
    <div class="col-lg-4">
      <h3 class="recipe-prep">Country: <%= @recipe.country %></h3>
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-5"></div>
    <div class="col-lg-4">
      <h3 class="recipe-prep">Rating: <%= @recipe.rating %></h3>
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-5"></div>
    <div class="col-lg-4">
      Picture of tasty old food
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-5"></div>
  </div>
</div>
