
<div class="nav-bar">
  <div class="div1"> <%= link_to "Ancient Meals", root_path, class: "nav-link text-nowrap" %> </div>
<div class="div2"> <%= link_to "Recipes", recipes_path, class: "nav-link" %></div>
<div class="div3"> <%= link_to "About", recipes_path, class: "nav-link" %></div>
<div class="div4"> <%= link_to "Login", root_path, class: "nav-link" %></div>
</div>





<%# <ul class="nav-bar">
<%# <li class="li-1"> <%= link_to "Ancient Meals", "#", class: "nav-link text-nowrap"</li> %>
<%# <li class="li-2"> <%= link_to "Recipes", "#", class: "nav-link"</li> %>
<%# <li class="li-3"> <%= link_to "About", "#", class: "nav-link" </li> %>
<%# <li class="li-4"> <%= link_to "Login", "#", class: "nav-link" </li> %>
<%# </ul> %>


<%# <div class="nav-bar">
  <div class="div-1"> <%= link_to "Ancient Meals", "#", class: "nav-link text-nowrap" %>
  <%# </div
  <div class="div-2"> <%= link_to "Recipes", "#", class: "nav-link" %>
  <%# </div>
  <%# <div class="div-3"> <%= link_to "About", "#", class: "nav-link" %>
  <%# </div>
  <%# <div class="div-4"> <%= link_to "Login", "#", class: "nav-link" %>
  <%# </div> %>
<%# </div> %>
