<div class="nav-bar">
  <div class="div1"> <a class="nav-link" href="#">Ancient Meals</a></div>
  <div class="div2"> <a class="nav-link" href="#">Recipes</a></div>
  <div class="div3"> <a class="nav-link" href="#">About</a> </div>
  <div class="div4"> <a class="nav-link" href="#">Login</a></div>
</div>

<div class="div1"> <%= link_to "Ancient Meals", root_path, class: "nav-link" %> </div>
<div class="div2"> <%= link_to "Recipes", ricipes_path, class: "nav-link" %></div>



<%# <ul class="nav-bar">
<%# <li class="li-1"> <%= link_to "Ancient Meals", "#", class: "nav-link text-nowrap"</li> %>
<%# <li class="li-2"> <%= link_to "Recipes", "#", class: "nav-link"</li> %>
<%# <li class="li-3"> <%= link_to "About", "#", class: "nav-link" </li> %>
<%# <li class="li-4"> <%= link_to "Login", "#", class: "nav-link" </li> %>
<%# </ul> %>


<%# <div class="nav-bar">
  <div class="div-1"> <%= link_to "Ancient Meals", "#", class: "nav-link text-nowrap" %>
  <%# </div
  <div class="div-2"> <%= link_to "Recipes", "#", class: "nav-link" %>
  <%# </div>
  <%# <div class="div-3"> <%= link_to "About", "#", class: "nav-link" %>
  <%# </div>
  <%# <div class="div-4"> <%= link_to "Login", "#", class: "nav-link" %>
  <%# </div> %>
<%# </div> %>
