<%# <div class="recipe-text-2">cookbook</div> %>
<hr>
<div class="user-info">

<div id="bg-image">
<div class="row">
<div class="container-100">
  <div class="user-container">
  <div class="padding-info-user">
    <div class="avatar">

    <% if current_user.photo.attached? %>

      <%= cl_image_tag current_user.photo.key, class: "avatar-large", alt: "avatar-large" %>
    <% else %>
      <%= image_tag "avatar_placeholder.jpg", class: "avatar-large", alt: "avatar-large" %>
    <% end %>
    </div>
    <div class="padding-p">
      <h6 class="user_name"><strong><%= current_user.name %></strong></h6>
      <h6 class="user_name"><strong>Recipes In Total:</strong> <%= current_user.user_favorites.count + current_user.recipes.count%></h6>
      <h6 class="last-child"><strong>Total Favorite Recipes:</strong> <%= current_user.user_favorites.count %></h6>
    </div>
  </div>
    <div class="user-info">

  <div class="flex-container-">

    <div class="box-2" data-controller="search">
    <br>
      <h3 class="h3-margin-titles"> Own recipes</h3>
      <%= render "recipes/recipe_list" %>
      <!-- USER FAVORITES LIST -->
      <br>
      <h3 class="h3-margin-titles">Favorite recipes</h3>
      <%= render "recipes/favorites" %>
      <!-- USER FAVORITES LIST END-->
    </div>
    </div>
  </div>
</div>

  <div class="image-container">
    <%# <%= image_tag "cookbook_img2.jpg" , class: "bottom-image-3" %>
  </div>




  </div>
    <div class="recipe-container">
        <%# <%= image_tag "Cookbook_img1.jpeg" , class: "bottom-image-2" %>
        <%# <img id="image" /> %>
    </div>
</div>

</div>
